@charset "UTF-8";
/*CSS Document */
p {
  color: aliceblue;
  font-family: monospace;
  font-size: 18px;
  line-height: 22px;
  width: 800px;
  padding: 10px;
}
h1 {
  font-family: monospace;
  color: mediumpurple;
  font-size: 32px;
  line-height: 22px;
  }
h2 {
  font-family: monospace;
  color: deepskyblue;
  font-size: 25px;
  line-height: 22px;
  }
  h3 {
    font-family: monospace;
    color: mediumpurple;
    font-size: 23px;
    line-height: 22px;
    }
    h4 {
      font-family: monospace;
      color: deepskyblue;
      font-size: 22px;
      line-height: 22px;
      }
body {
  background-image: url("pics/pozadina.jpg");
  }
a:link {
  color: indigo;
  background-color: aliceblue;
  font-family: monospace;
  font-size: 18px;
  padding: 5px;
  line-height: 40px;
  border: 3px solid #00BFFF;
}
a:hover {
background-color: mediumpurple;
}
img {
  height: 200px;
}
video {
  height: 200px;
}
iframe {
  height: 280px;
  width: 320px
}
li {
  color: aliceblue;
  font-family: monospace;
  font-size: 18px;
}
